.card {
    /*float: left;возможность выстроить элементов в ряд*/
    border: 5px outset rgb(255, 165, 92);
    width: 30%;
    margin: 5px;
    background-color: rgb(255, 244, 209);
}

img {
    width: 92%;
    margin-left: 4%;
    margin-top: 5%;
}

h2 {
    text-align: center;
    color: rgba(202, 138, 19, 0.479);
    font-style: italic;
}

.card p {
    margin: 10px;
    font-style: italic;
}

h1 {
    text-align: center;
}

body {
    background-image: url("фн.jpg");
}

.films {
    display: flex;
    justify-content: flex-end;
}