.main div {
    border: 3px solid blueviolet;
}

.main {
    display: flex;
    height: 98%;
    flex-flow: column;
    justify-content: space-between;
    border: 7px solid red;
    align-items: center;
}

html,
body {
    height: 100%;
}

#b1 {
    background-image: url(лет.jpg);
    background-size: 100%;
    width: 70%;
    text-align: center;
}

#b1 * {
    background: rgba(157, 255, 0, 0.555);
}

.main div {
    padding: 6px;
}

#b2 {
    background-image: url(https://source.unsplash.com/5Dga0T0x6GY/300x400)
}